body{
    padding: 1%;
    margin:0 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
}
div.wellcome{
    position: relative;
}
div.wellcome-video, div.wellcomeheader{
    position: absolute;
    overflow: hidden;
}
.myVideo{
    overflow: hidden;
    width: 350%;
    margin-left: -500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 98%;
}
.logotipo{
    width: 200px;
    margin: 0px;
    margin-top: 22px;
    margin-left: 10px;
}
.boton{
    width: 40px;
    align-items: flex-end;
    margin-top: 43px;
    margin-right: 10px;
}
.boton:hover{
    color:#67dd38;
    transform: rotate(45deg);
}
.navbar {
    display: flex;
    flex-direction: column;
}

.navbar label {
    text-align: right;
}

.menu {
    display: none;
}

#menuboton:checked ~ .menu {
    display: block;
}

#menuboton {
    display: none;
}
ul{
    margin-top: 34px;
}
ul li{
    display: inline-flex;
    background-color: #000000;
    padding: 0px 10px;
    margin: 5px 0px
}
a{
    text-decoration: none;
    color: white;
    padding: 8px 0px;
}
a:hover {
    color: #67dd38;
    font-weight: bold;
}
.porfolio:hover ul{
    display: block;
    position: absolute;
    opacity: 1;
}
ul li ul {
    display: none;
    position: relative;
    margin-left: -40px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 1s;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 108px;
}
.cabecera{
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 30px;
}
.container{
    width: 95%;
}
section{
    display: flex;
    flex-direction: column;
}
div.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
article{
    width: 100%;
}
img.projects{
    width: 100%;
}
p.dates{
    margin-top: -20px;
    color: #67dd38;
    margin-bottom: 35px;
}

h2, .label{
    font-size: 1.2em;
    color: #67dd38;
    font-weight: 900;
}
h1{
    font-size: 2.4em;
    line-height: 1.2em;
    margin-top: 15px;
    margin-bottom: 25px;
    letter-spacing: -0.08em;
}
.text{
    color: #040c00;
    text-align: left;
	font-size: 1.0em;
	line-height: 30px;
    font-weight: 300;
}
.input{
    overflow: visible;
    margin-top: 10px;
    padding: 10px;
    border: 1.5px solid #b6b8b5;
    border-radius: 5px;
}
.contact{
    width: 85%;
}
.send {
    background-color: #67dd38;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    color: white;
    padding: 12px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
footer{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}
h5{
    font-size: 1.1em;
    margin-bottom: 0px;
}
h6{
    font-size: 0.9em;
    text-align: center;
    margin-top: 15px;
    line-height: 22px;
    font-weight: 300;
}

@media screen and (min-width: 560px){
    .container{
        width: 85%;
        }
        .logotipo{
            width: 260px;
        }
        .boton{
            width: 50px;
            margin-top: 50px;
        }
        main{
            margin-top: 150px;
        }
        h1{
            font-size: 2.6em
        }
        .myVideo{
            width: 190%;
            margin-top: 60px;
            margin-left: -280px;
        }
    }

@media screen and (min-width: 768px){
.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    }
    .logotipo{
        width: 300px;
    }
    .boton{
        width: 60px;
        margin-top: 48px;
    }
    main{
        margin-top: 150px;
    }
    section.projects{
        display: flex;
        flex-direction: column;
    }
    article.projects{
        width: 50%;
    }
    .cabecera{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .myVideo{
        width: 150%;
        margin-top: 50px;
        margin-left: -230px;
    }
    .contact{
        width: 700px;
    }
}

@media screen and (min-width: 1200px){
    .logotipo{
        width: 320px;
    }
    h2, .label{
        font-size: 1.2em;
    }
    .h1{
    font-size: 3.5em;
    }
    .text{
    font-size: 1.1em;
    line-height: 32px;
    }
    .myVideo{
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        align-items: center;
    }
}